RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.clipystudio\.com [NC]
RewriteRule ^(.*)$ https://clipystudio.com/$1 [L,R=301]

<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>
